<!DOCTYPE html>
<html>
    <head>
        <title>
            Exercicio_Betao
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type = "text/css" href='/static/style.css'>
    </head>
    <body>
        <div class = "cont1" >
            <p>Nome</p>: Betão Einsten
        </div>
        <div class = "cont1" >
            <p>Idade</p>: 42
        </div>
        <div class= "cont2">
            <img src="{{imagem}}" width="100px" />
        </div>
        <div class = "cont1">
            <p>Betão tá {{humor}}!!</p>
        </div>
    </body>
</html>