body {
    background-color: #ccffdd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cont1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00b33c;
    color: white;
    width: 100%;
}
.cont2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2%;
}

.cont3 {
    display: flex;
    padding-bottom: 1%;
    padding-top: 1%;
}

.cont4 {
    display: flex;
    border: green;
    border-style: solid;
    flex-direction: column;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    width: 50%;
}