<!DOCTYPE html> 
<html>
    <head>
        <title>Meu projeto Eistein</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    </head>
    <body>
        <div class="div-infos"> <!--DIV PRINCIPAL NOME-->
            <div> <!-- DIV NOME LABEL -->
                <p>Nome: </p>
            </div>
            <div> <!-- DIV NOME CONTUDO-->
                Betão Einstein
            </div>
        </div>
        <div> <!-- DIV PRINCIPAL IDADE-->
            <div> <!-- DIV IDADE LABEL -->
                <p>Idade: </p>
            </div>
            <div>
                <p>42</p>
            </div>
        </div>
        <div> <!--DIV COM A IMAGEM-->
            <img src="../static/img/einstein_serio.jpg" width="200" height="300" />
        </div>
        <div> <!-- DIV COM A MENSAGEM-->
            <p>Betão ta sério</p>
        </div>
    </body>
</html>