<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo da Blue - HTML, CSS, JS, Python e SQL</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    {% include 'header.html' %}
    
    <div class="bloco">
        <h2> Criar registros</h2>
    </div>

    {% if not novo_id %}

    <div class="bloco">
        <form class = "form" method = "POST">
            <div class = "bloco form_input">
                <label for = "nome">Nome: </label>
                <input type="text" id = "nome" name = "nome">
            </div>
            <div class = "bloco form_input">
                <label for = "imagem_url">URL da imagem: </label>
                <input type="text" id = "imagem_url" name = "imagem_url">
            </div>
            <div class = bloco_opcoes>
                <div class = "bloco">
                    <label for="f"> Filme </label><input type="radio" name = "conteudo" id = "filme" value= "f" />
                </div>
                <div class = "bloco"> 
                    <label for="s"> Série </label><input type="radio" name = "conteudo" id = "serie"  value= "s" />
                </div>
            </div>
            <div class = "bloco form_input" id="enviar">
                <input type="submit" class = "botao" value = "Enviar">
            </div>              
        </form>
    </div>

    {% else %}

    <div class = "bloco">
        <p>
            Registro criado com sucesso<br></br>
            O ID atribuido foi <span class="novo_id">{{ novo_id }}</span><br></br>

            {% if serie %}
            <a href="/series/{{novo_id}}" class = "botao">Visualizar esse registro</a>

            {% else %}
            <a href="/filmes/{{novo_id}}" class = "botao">Visualizar esse registro</a>

            {% endif %}
        </p>
    </div>

    {% endif%}

    <div class="bloco">
        <a href = "javascript:history.back()" class = botao >Voltar</a>
    </div>
</body>
</html>

