<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href="/static/style.css" />
    <title>Projeto CRUD com HTML, CSS, JS, Python (Flask) e SQL</title>
</head>
<body>
    {% include 'header.html' %}

    <div id = "opcao">
        <h1> Escolha uma opção </h1>
    </div>
    <div class = "bloco_principal">
        <a href="/create" class="botao">Inserir Conteúdo</a>
        <a href="/filmes" class="botao">Ver Filmes</a>
        <a href="/series" class="botao">Ver Series</a>
    </div>

    
</body>
</html>